.btn-hover:hover {
  background-color: #007bff;
  color: white;
}

.input-error {
  height: 20px;
}

#geomap {
  height: 540px;
  width: 100%;
}

#keyword {
  width: 100%;
}

.font-default {
  font-size: 0.9rem;
}
